{
	"*.{js,jsx,cjs,ts,tsx}": ["npx prettier --write", "npx eslint"],
	"*.{css,scss}": ["npx prettier --write", "npx stylelint"],
	"*.{json,htm,html,yml,huskyrc,lintstagedrc,prettierrc,stylelintrc}": ["npx prettier --write"]
}
