/node_modules/
/packages/*/lib
/packages/*/dist
/packages/*/temp/
/packages/*/coverage/
/packages/*/node_modules/
/packages/*/build/
/packages/*/bin/
/packages/*/.cache/
/packages/site/public/
/dist/
/build/
/packages/*/storybook-static
package-lock.json
/packages/*/package-lock.json
