@import "~@monovitality/components/src/styles/utilities";
@import "~@monovitality/components/src/styles/colors";
@import "~@monovitality/components/src/styles/wrapper";

@include monovitality-styles-wrapper {
	.monovitality-footer {
		padding: pxToRem(20px);
		max-width: pxToRem(1280px);
		margin: 0 auto;
		@include themed() {
			color: theme(color-main);
			background-color: theme(background-color-secondary);
		}
	}
}
