@import "~@monovitality/components/src/styles/utilities";
@import "~@monovitality/components/src/styles/colors";
@import "~@monovitality/components/src/styles/wrapper";

@include monovitality-styles-wrapper {
	.monovitality-theme-container {
		width: 100%;
		max-height: 100%;
		height: 100%;
	}

	.monovitality-web-base-container {
		inline-size: 100%;
		block-size: 100%;
		min-block-size: 100vh;
		margin-inline: auto;
		margin-block: 0;
		padding: pxToRem(32px);
		text-align: center;

		@include themed() {
			color: theme(color-main);
			background-color: theme(background-color-main);
		}

		a {
			font-weight: 500;
			color: #646cff;
			text-decoration: inherit;

			&:hover {
				@include themed() {
					color: theme(link-hover);
				}
			}
		}

		h1 {
			font-size: pxToRem(50px);
			line-height: 1.1;
		}
	}

	.monovitality-content {
		max-inline-size: pxToRem(1280px);
		margin-inline: auto;
		margin-block: 0;
	}

	.logo-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: pxToRem(16px);

		.logo {
			inline-size: pxToRem(160px);
			block-size: pxToRem(160px);
			padding: pxToRem(24px);
			will-change: filter;
			transition: filter 300ms;

			&:hover {
				filter: drop-shadow(0 0 2em #646cffaa);
			}

			&.react:hover {
				filter: drop-shadow(0 0 2em #61dafbaa);
			}
		}
	}

	@keyframes logo-spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		a:nth-of-type(2) .logo {
			animation: logo-spin infinite 20s linear;
		}
	}

	.card {
		padding: pxToRem(32px);
		display: flex;
		flex-direction: column;
		align-items: center;

		&__buttons {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: pxToRem(16px);
		}
	}

	.read-the-docs {
		color: #888;
	}
}
