@import "~@monovitality/components/src/styles/utilities";

:root {
	color-scheme: light dark;
}

html {
	overflow: hidden;
	height: 100%;
}

body {
	margin: 0;
	min-width: pxToRem(320px);
	height: 100%;
	overflow: auto;
	overscroll-behavior-y: none;
}
