@import "../styles/global";

.monovitality-button {
	border-radius: pxToRem(8px);
	border: pxToRem(1px) solid transparent;
	padding: pxToRem(9px) pxToRem(19px);
	font-size: pxToRem(16px);
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;

	@media (prefers-color-scheme: light) {
		background-color: #f9f9f9;
	}

	&:hover {
		border-color: #646cff;
	}

	&:focus,
	&:focus-visible {
		outline: pxToRem(4px) auto -webkit-focus-ring-color;
	}
}
