@import "../styles/utilities";
@import "../styles/colors";
@import "../styles/wrapper";

@include monovitality-styles-wrapper {
	.monovitality-button {
		border-radius: pxToRem(8px);
		border: pxToRem(1px) solid transparent;
		padding: pxToRem(9px) pxToRem(19px);
		font-size: pxToRem(16px);
		font-weight: 500;
		font-family: inherit;
		cursor: pointer;
		transition: border-color 0.25s;

		@include themed() {
			background-color: theme(button-background-color);
			color: theme(color-main);
		}

		&:hover {
			border-color: #646cff;
		}

		&:focus,
		&:focus-visible {
			outline: pxToRem(4px) auto -webkit-focus-ring-color;
		}
	}
}
