@import "~@monovitality/components/src/styles/utilities";

$base-style-name: ".github-link";

#{$base-style-name} {
	position: absolute;
	top: 0;
	right: 0;
	width: pxToRem(100px);
	height: pxToRem(100px);

	&--triangle {
		position: absolute;
		top: 0;
		right: 0;
		border-top: pxToRem(100px) solid black;
		border-left: pxToRem(100px) solid transparent;
	}

	&--icon-container {
		position: absolute;
		top: pxToRem(5px);
		right: pxToRem(5px);
		width: pxToRem(50px);
		height: pxToRem(50px);
		overflow: hidden;
		box-sizing: border-box;
	}

	&--icon {
		width: 100%;
		height: 100%;
		transform: rotate(45deg);
		transition: transform 0.2s ease-in-out;
		color: white;
	}

	&:hover &--icon {
		transform: rotate(405deg);
	}
}

html[displayMode="dark"] #{$base-style-name} {
	&--icon {
		color: black;
	}

	&--triangle {
		border-top-color: white;
	}
}
